/********************************
* Default Styles - Mobile First
********************************/	
 
body{
    background-image: url(/acme/images/site/background.jpg);
    background-size: cover;
    width:100%;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.content{
    padding: 0px 60px 20px 60px;
 }
 
 .main-page{
    background-color: white;
    background-repeat: no-repeat;
}
 
 
 .page-header{
    background-size:70px;
    padding-top: 5px;
    padding: 10px 30px 0px 30px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
}

.folder span{
    margin-right: 18px;
    color: red;
 }
 
.teste{
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    color: #000000;
}

.menu h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px; 
}

.menu label{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
}

.menu h2{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px;
}

.menu ul{
    padding:0px;
    margin:0px;
    background-color:#e61919;
    list-style:none;
}

.menu ul li{ 
    display: inline; 
}
 
.menu ul li a{
    padding: 15px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom:2px solid #E61919;
}

.menu ul li a:hover{
    background-color:white;
    color: red;
    border-bottom:2px solid #EA0000;
}

.menu ul h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
}

.page-nav{
    background-image: url(/acme/images/site/rocketfeature.jpg);
    height: 480px;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: #e61919;
    padding-left: 70%;
    background-position-x: center, center;
    background-position-y: center, center;
}
	
.text1{
    padding-top: 20%;
}
	
.main h2{
    text-align: center;
}
	
.main li{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: #e61919;
    font-size: 15px;
}
 
div.box{
    width: 150px;
    display: grid;
   }
	 
#line {
    border-bottom: solid 2px #000;
}
	 
.footer{
    background-color: white;
    text-align: center;
    padding: .5rem;
}



.textBox p{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    margin:2px;
    padding: 10px 10px 0px 20px;
    list-style:none;
}

.textBox input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
}

.textBox ul input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.textBox label input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.links p{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    margin:2px;
    padding: 10px 10px 0px 20px;
    list-style:none;
}

.links input {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
}

.links ul input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.botoes p{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    margin:2px;
    padding: 10px 10px 0px 20px;
    list-style:none;
}

.botoes input {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: white;
    background-color:red;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
}

.gap input{ 
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 10px 0px 20px;
}

.gap2 input{ 
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}
.gap2 a{ 
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.label{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 10px 0px 20px;
}


.login {
    width: 250px;
    height: 50px;
    background-color: red;
    margin: 0 15px;
    border: 1px solid black;
    padding: 10px;
    display: block;
    text-align: center;
    line-height: 1.5em;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}

.loops{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 18px;
}

.password{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 18px;
    margin-left: 20px;
}

.prodManagment{
    
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 18px;
    margin-left: 20px;
    
}