/********************************
* Default Styles - Mobile First
********************************/

html{
 box-sizing: border-box;
}

*, *:before, *:after{
 box-sizing: inherit;
}

#prod-display{
 flex-flow: row wrap;
 justify-content: flex-start;
}

#prod-display li{
 max-width: 200px;
 flex: 1 0 auto;
 text-align: center;
 max-height: 400px;
}
/*xxxxx*/
@media screen and (min-width: 320px) {
body{
    background-image: url(/acme/images/site/background.jpg);
    background-size: cover;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}  
.content{
    padding: 0px 10px 10px 10px;
 }
 
 .main-page{
    background-color: white;
    background-repeat: no-repeat;
}


 header > div {
    padding: 4%;
    display: block;
    height: 3px; 
}

header > div img.acme-logo {
    max-width: 40px;
    position: relative;
    top: -5px;
}

header div.myAccount {
    float: right;
}

header div.myAccount, div.myAccount a h3 {
    display: inline-block;
} 

div.myAccount a img {
    width: 15px;
}      
        
.span{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 10px;
    
    color: red;
 }
 
 .minhaConta{
    margin-left: 10px;
    color: black;
 }
 
 .menu h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 10px; 
}

.menu label{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 10px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
}

.menu h2{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 10px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 10px;
}

.menu ul{
    padding:0px;
    margin:0px;
    background-color:#e61919;
    list-style:none;
}

.menu ul li{ 
    display: inline; 
}
 
.menu ul li a{
    padding: 15px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom:2px solid #E61919;
}

.menu ul li a:hover{
    background-color:white;
    color: red;
    border-bottom:2px solid #EA0000;
}

.menu ul h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
}
}

@media screen and (min-width: 768px) {
 
body{
    background-image: url(/acme/images/site/background.jpg);
    background-size: cover;
    width:100%;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.content{
    padding: 0px 60px 20px 60px;
 }
 
.main-page{
    background-color: white;
    background-repeat: no-repeat;
}
  
.page-header{
    width: 10px;
    height: auto;
}

header > div {
    padding: 4%;
    display: block;
    height: 30px; 
}

header > div img.acme-logo {
    max-width: 190px;
    position: relative;
    top: -35px;
}

header div.myAccount {
    float: right;
}

header div.myAccount, div.myAccount a h3 {
    display: inline-block;
} 

div.myAccount a img {
    width: 60px;
    margin-left:0px;
    padding-right: 0px;
    padding-left: 0px;
}  

header > div img.folder{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:0px;
     margin-right: 0px;
    padding-top:0px;
    padding-bottom: 0px;
    max-width: 30px;
   
    
}

.teste{
   margin-bottom: 20px;
   margin-top: 5px;
   padding-bottom: 60px;
   padding-top: 20px;
}
        
.span{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
    color: black;
    margin-right: 1px;
   padding-right: 0px;
   
 }
 
.minhaConta{
    padding-right: - 35px;
    color: black;
 }
 
.teste{
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    color: #000000;
}

.menu h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 42px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px; 
}

.menu label{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
}

.menu h2{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px;
}

.menu ul{
    padding:0px;
    margin:0px;
    background-color:#e61919;
    list-style:none;
}

.menu ul li{ 
    display: inline; 
}
 
.menu ul li a{
    padding: 15px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    display: flex-row;
    color: white;
    text-decoration: none;
    border-bottom:2px solid #E61919;
}

.menu ul li a:hover{
    background-color:white;
    color: red;
    border-bottom:2px solid #EA0000;
}

.menu ul h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
}

.page-nav{
    /*background-image: url(/acme/images/site/rocketfeature.jpg);*/
    height: 480px;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: #e61919;
    padding-left: 70%;
    background-position-x: center, center;
    background-position-y: center, center;
}

.prodCat h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: black;
    font-size: 35px;
    margin-left: 20px;
    }

.prodDisplay{
   padding-top: 10%;
   margin-left:-300px;
   margin-top:-25px;
   text-align: center;
 }
 
.feature{
     padding-top: 100px;
 }
	
.main h2{
    text-align: center;
}
	
.main li{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: #e61919;
    font-size: 15px;
}
 
div.box{
    width: 150px;
    display: grid;
   }
   
.box{
 margin-left: 40px;      
}
   
.gridItem{
    text-align: center;
    padding-bottom: 10px;
}  
	 
#line {
    border-bottom: solid 2px #000;
}
	 
.footer{
    background-color: white;
    text-align: center;
    padding: .5rem;
}

.textBoxArea1{
  border-width: thin;
  border-style: solid;
  border-color: red;
  margin-right: 20px;
  margin-left: 20px;
  }
  
.textBoxArea1 h2{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px;
}

.textBoxArea2{
  border-width: thin;
  border-style: solid;
  border-color: red;
  margin-right: 20px;
  margin-left: 20px;
}

.textBox p{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    margin:2px;
    padding: 10px 10px 0px 20px;
    list-style:none;
}

.textBox input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
}

.textBox ul input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.textBox label input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.textBox2 h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 42px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px; 
}

.textBox2 h2{
     font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: #000000;
    background-color:white;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px;
}

.links p{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    margin:2px;
    padding: 10px 10px 0px 20px;
    list-style:none;
}

.links input {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
}

.links ul input{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.botoes p{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    margin:2px;
    padding: 10px 10px 0px 20px;
    list-style:none;
}

.botoes input {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: white;
    background-color:red;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
}

.gap input{ 
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 10px 0px 20px;
}

.gap2 input{ 
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.gap2 a{ 
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: white;
    background-color:red;
    padding: 10px 10px 0px 20px;
}

.label{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 10px 0px 20px;
}

.login {
    width: 250px;
    height: 50px;
    background-color: red;
    margin: 0 15px;
    border: 1px solid black;
    padding: 10px;
    display: block;
    text-align: center;
    line-height: 1.5em;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}

.loops{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 18px;
}

.password{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 18px;
    margin-left: 20px;
}

.prodManagment{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 18px;
    margin-left: 20px;
    
}

.userList li{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: black;
    font-size: 18px;
    margin-left: 20px;
   }
   
.userList a{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 16px;
    margin-left:0px;
   }
   
.userLogin{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: black;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px;
   }
   
.userLogin h2{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 33px;
    color: #000000;
    padding: 0px 0px 0px 0px;
    list-style:none;
    margin-left: 20px;
   }
   
table, td{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 20px;
    background-color: buttonface;
    margin-left: 20px;
    }
    
segundaTable, td{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 18px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    }
    
.notice{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 20px;
    margin-left: 20px;
    }
    
.user{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: black;
    font-size: 45px;
    margin-left: 20px;;
}
 
.textBox textarea{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
 }
 #prod-display{
 margin: .5em;
 padding: 0;
 display: flex;
 flex-direction: row;
}

#prod-display li{
 margin-bottom: .5em;
 border: 1px #ccc solid;
 list-style-type: none;
 flex: 1 1 auto;
}
                
#prod-display li img{
 width: 100%;
 height: 200px;
}


}
